<?xml version='1.0' encoding='UTF-8' ?>
<!-- wird nicht mehr verwendet in der 2.Version 4XHIF -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Startseite</title>
       <h:outputStylesheet type="text/css" name="style.css" />
        </h:head>
        <h:body >
			<f:view locale="#{startBean.loc}">
			 <h:form id="form">
			 <div align="center">
				<p:messages></p:messages>
				</div>
				<div align="center" style="margin-top: 15%;">
                <p:panelGrid columns="2" styleClass="panel">


                    <p:outputLabel for="BN" value="#{var.name}"/>

                    <p:inputText id="BN" required="true" requiredMessage="Bitte Benutzername eingeben" value="#{startBean.user.name}"/>


                    <p:outputLabel for="PW" value="#{var.pwd}" />

                    <p:inputText type="password" id="PW" required="true" requiredMessage="Bitte Passwort eingeben" value="#{startBean.user.pwd}"/>


                </p:panelGrid>

                <br/>

                <p:commandButton id="login" value="#{var.login}" action="#{startBean.login}" process="form" update="form" />

                <br/>
                <br/>

                <p:commandLink value="#{var.link}" action="#{startBean.gotoRegistration}" immediate="true"/>
			</div>
            </h:form>
		</f:view> 
        </h:body>
    </html>

