<?xml version='1.0' encoding='UTF-8' ?>
<!-- wird nicht mehr verwendet in der 2.Version 4XHIF -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registration</title>
         <h:outputStylesheet type="text/css" name="style.css" />
    </h:head>
    <h:body>
       <h:form id="form">
           <div align="center">
           <p:growl id="msgs" autoUpdate="true"></p:growl>
		    	<p:messages></p:messages>
           </div>
           <div align="center" style="margin-top: 15%;">
           <p:panelGrid id="grid" columns="2" styleClass="panel" >
                
                <p:outputLabel for="BN" value="#{var.name}" />
                
                <p:inputText id="BN" value="#{registrationBean.u.name}" required="true" requiredMessage="Bitte Benutzernamen eingeben">
                <f:validator validatorId="validator.UsernameFormatValidator"></f:validator>
                <f:validator validatorId="validator.UsernameValidator"></f:validator>
                <p:ajax event="blur" process="BN" update="msgs"></p:ajax>
                </p:inputText>
                
                
                <p:outputLabel for="PW" value="#{var.pwd}" />
                
                <p:inputText id="PW" type="password" required="true" value="#{registrationBean.u.pwd}" requiredMessage="Bitte Passwort eingeben">
                <f:validator validatorId="validator.PasswordFormatValidator"></f:validator>
                <p:ajax event="blur" process="PW" update="msgs"></p:ajax>
                </p:inputText>
                
                
                <p:outputLabel for="mail" value="#{var.email}" />
                
                <p:inputText id="mail" value="#{registrationBean.u.email}" required="true" requiredMessage="Bitte Email eingeben">
                <f:validator validatorId="validator.EmailValidator"></f:validator>
                <p:ajax event="blur" process="mail" update="msgs"></p:ajax>
                </p:inputText>
                
                </p:panelGrid>
               
           <br/>
           <p:commandButton value="#{var.back}" action="#{startBean.gotoRecentPage}" immediate="true" />
           
           <p:commandButton value="#{var.register}"  action="#{registrationBean.registrate}" update="form" process="form"/>
           </div>   
              
        </h:form>
        
    </h:body>
</html>

