<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Facelet Title</title>
	 <h:outputStylesheet type="text/css" name="style.css" />
</h:head>
<h:body styleClass="bgclass">
	<f:view locale="#{startBean.loc}">
	<h:form id="form">
		<div class="pg">
		<p:growl showDetail="true" showSummary="false" autoUpdate="true" globalOnly="true"></p:growl>
			<p:panelGrid columns="1" style="width: 100%;" >
			<p:commandButton value="#{var.add}" action="#{startBean.gotoInput_Mask()}" ajax="false" styleClass="button" />
			<br></br>
			<p:commandButton value="#{var.showp}" action="#{startBean.gotoOutput_List()}" styleClass="button" />
			<br></br>
			</p:panelGrid>
		</div>
		<div class="langMenu">
			<p:selectOneMenu value="#{startBean.loc}">
				<f:selectItems value="#{startBean.locations}"></f:selectItems>
				<f:converter converterId="converter.LocaleConverter"></f:converter>
				<p:ajax event="change" update="@all" process="@all"></p:ajax>
			</p:selectOneMenu>
		</div>		
	</h:form>
	</f:view>
</h:body>
</html>

