<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"

      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Input_mask</title>
        <h:outputStylesheet type="text/css" name="style.css" />
        <h:outputScript type="text/javascript" libary="js" name="js/jquery-2.1.1.js" target="head"/>
        <h:outputScript type="text/javascript" libary="js" name="js/input_mask.js" target="head"/>
        
    </h:head>
    <h:body>
     <h:form id="form">
     <f:view locale="#{startBean.loc}">
        <div id="left" style="position: absolute; left:60px; top: 10px; z-index: 2;">
       

            <p:growl id="msgs" showDetail="true" showSummary="false"/>

            <p:panelGrid id="grid" columns="3" style="position: absolute;">

                 <!-- Header -->
                <f:facet name="header" >
                    <h:outputText value="#{var.header1}" />
                </f:facet>
                 <div id="content">
                <!-- InputFelder-->
                <h:outputLabel />

                <h:outputLabel for="VName" value="#{var.firstname}" />
                <p:inputText placeholder="Max" id="VName" value="#{inputBean.p.vname}" required="true" requiredMessage="Bitte Vornamen eingeben">
                    <f:validator validatorId="validators.StringValidator" />
                </p:inputText>
                <!--  <p:message id="m1" for="VName" />-->


                <h:outputLabel for="NName" value="#{var.sirname}"/>
                <p:inputText placeholder="Mustermann" id="NName" value="#{inputBean.p.nname}" required="true" requiredMessage="Bitte Nachnamen eingeben" >
                    <f:validator validatorId="validators.StringValidator" />
                </p:inputText>
               <!-- <p:message id="m2" for="NName"/>-->

               <h:outputLabel for="Ort" value="#{var.loc}"/>
               <p:autoComplete placeholder="Pinkafeld" id="Ort" value="#{inputBean.p.ort}" completeMethod="#{inputBean.findMatches}" forceSelection="true" 
               var="a" itemLabel="#{a.value}" itemValue="#{a.value}" maxResults="10" required="true" requiredMessage="Bitte Wohnort eingeben">
               		<f:converter converterId="converter.PlaceConverter"/>
                    <f:validator validatorId="validator.PlaceValidator"/>         
               </p:autoComplete>
                        
                <!-- <p:inputText placeholder="Pinkafeld" id="Ort" value="#{inputBean.p.ort}" required="true" requiredMessage="Bitte Wohnort eingeben" >
                    <f:converter converterId="converter.PlaceConverter"/>
                    <f:validator validatorId="validator.PlaceValidator"/>
                </p:inputText>
                <p:message id="m7" for="Ort" />-->

                <h:outputLabel for="Geb" value="#{var.date}"/>
                <p:inputText placeholder="1.1.2014" id="Geb" value="#{inputBean.p.gebDate}" required="true" requiredMessage="Bitte Geburtsdatum eingeben" >
                    <f:validator validatorId="validators.BirthdayValidator" />
                    <f:converter converterId="converter.DateConverter"/>
                </p:inputText>
               <!--  <p:message id="m3" for="Geb"/>-->


                <h:outputLabel for="Gesch" value="#{var.sex}"/>
                <p:selectOneMenu id="Gesch" value="#{inputBean.p.geschlecht}" required="true" >
                    <f:selectItems value="#{inputBean.geschlecht_item}"/>
                </p:selectOneMenu>
                <!-- <p:message id="m4" for="Gesch" />-->


                <h:outputLabel for="Schule" value="#{var.school}" />
                <p:inputText placeholder="HTL Pinkafeld" id="Schule" value="#{inputBean.p.schule_klasse.schule}" required="true" requiredMessage="Bitte Schule eingeben">
                    <f:converter converterId="converter.SchoolValidator"/>
                    <f:validator validatorId="validator.SchoolValidator" />
                </p:inputText>
              <!--  <p:message id="m5" for="Schule"/>-->

                <h:outputLabel for="Klasse" value="#{var.cl}"/>
                <p:inputText placeholder="4AHIF" id="Klasse" value="#{inputBean.p.schule_klasse.klasse}" required="true" requiredMessage="Bitte Klasse eingeben">
                    <f:converter converterId="converter.ClassConverter"/>
                    <f:validator validatorId="validators.ClassValidator" />

                </p:inputText>
                 <!-- <p:message id="m6" for="Klasse"/>-->
                 <h:outputLabel/>
                 </div>
                <!-- Footer -->
                <f:facet name="footer" >

						<p:commandButton id="send" value="#{var.send}" action="#{inputBean.saveInDatabase()}" update="form,LastInsertedPeople" >
						</p:commandButton>
                        <p:commandButton id="back" value="#{var.back}" action="index.xhtml" immediate="true" style="float: left;"/>




                </f:facet>


            </p:panelGrid>

        
        </div>
        <div id="img1" style = "position: absolute;">
        	
        </div>
        <div id="img2" style = "position: absolute;">
        
        </div>
        <div id="img3" style = "position: absolute;">
        
        </div>
        <div id="img4" style = "position: absolute;">
        
        </div>
        <div id="img5" style = "position: absolute;">
        
        </div>
        <div id="img6" style = "position: absolute;">
        
        </div>
        <div id="img7" style = "position:absolute; right: 0px; bottom: 0px;">
        	<img id="db" src="/DFD/resources/img/db1.png" style=" position:absolute; right: 0px; bottom: 0px;" />
        </div>
        
		<p:dialog closable="false" id="end" modal="true" widgetVar="ende" header="Person erfolgreich in die Datenbank gespeichert">
		<p align="center"><p:commandButton value="OK" ajax="false" immediate="true" action="index.xhtml" style="width: 150px;"></p:commandButton></p>
		</p:dialog>


       
        <!-- 
        Die letzten 5 Personen die eingefügt worden sind-->
        
	        	<p:dataTable id="LastInsertedPeople" value="#{inputBean.lastPeople}" var="lastPerson" style="float: right; position: absolute; right: 50px; bottom: 32px; width: 350px;">
	        		<p:column headerText="#{var.firstname}">
	        			#{lastPerson.vname}
	        		</p:column>
	        		<p:column headerText="#{var.sirname}">
	        			#{lastPerson.nname}
	        		</p:column>
	        	</p:dataTable> 
	        </f:view>
        </h:form>
        
         <div id="video">
        <!-- Video 
         <video width="320" height="240" autoplay="true">
          <source src="/DFD/FILE0004.mp4" type="video/mp4"/>
        </video>-->
        </div>
        
      <noscript>
        <h3>This site requires JavaScript</h3>
    </noscript>
    </h:body>
</html>

