<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Person auswählen</title>
         <h:outputStylesheet type="text/css" name="style.css" />
    </h:head>
    <h:body>
        <h:form id="form" update="form">
            <div>
            <p:inputText id="search" value="#{personenBean.search}" update="form" />
            <p:commandButton value="#{var.search}" id="search_button" action="#{personenBean.searchForResults}" update="form"/>
            <p:commandButton value="#{var.all}" id="search_all_button" action="#{personenBean.searchForAllResults}" update="form"/>
            <p:selectOneMenu id="Sort" value="#{personenBean.sortSelect}" required="true" valueChangeListener="#{personenBean.sort}">
                    <f:selectItems value="#{personenBean.sortList}"/>
                </p:selectOneMenu>
            <br></br>
            
            <p:dataTable id="table" value="#{personenBean.personen}" var="element" scrollable="false"  >
                <p:column headerText="#{var.namep}" width="32%">
                    <h:outputLabel value="#{element.vname} #{element.nname}" style="text-align: center !important"/>
                </p:column>
                 <p:column headerText="#{var.school}" width="32%">
                     <h:outputLabel value="#{element.schule_klasse.schule.value}"/>
                </p:column>
                <p:column width="12%">
                    <p:commandButton value="#{var.show}" action="#{personenBean.gotoOutputPage(element)}" >
                    </p:commandButton>   
                </p:column>
                <p:column width="12%">
                    <p:commandButton rendered="#{personenBean.showButton(element)}" value="#{var.edit}" actionListener="#{personenBean.gotoUpdatePage(element)}">                   
                    </p:commandButton>
                </p:column>
                <p:column width="12%">
                    <p:commandButton rendered="#{personenBean.showButton(element)}" value="#{var.del}" action="#{personenBean.deletePerson(element)}" immediate="true" update="table" process="table" >
                    	<p:confirm header="Confirmation"  message="Sind sie sicher?" icon="ui-icon-alert" /> 
                    </p:commandButton>
                    
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">  
				        <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>  
				        <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>       
				    </p:confirmDialog>  
                </p:column>
            </p:dataTable>
            <p:commandButton value="#{var.back}" action="index.xhtml" immediate="true"/>
            </div>
         
        </h:form >
        <p:dialog id="dialog_update" widgetVar="dlgUpdate" closeOnEscape="true" header="Zuändernde Person" width="50%" modal="true" hideEffect="fold" showEffect="clip" >
                    	<ui:include src="update_mask.xhtml"/>
        </p:dialog>
        <p:dialog id="dialog" widgetVar="dlg" closeOnEscape="true" header="Ausgewählte Person" width="50%" modal="true" hideEffect="fold" showEffect="clip">
               <ui:include src="output_mask.xhtml"/>
         </p:dialog>
       </h:body>
</html>
