<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Output_mask</title>
         <h:outputStylesheet type="text/css" name="style.css"/>
    </h:head>
    <h:body styleClass="bgclass">
        <ui:composition>
        <f:view locale="#{startBean.loc}">
             <h:form>
             	<p:messages id="messages" showDetail="true" autoUpdate="true" closeable="true" />
             	<p:commandButton value="#{var.select}" actionListener="#{personenBean.p.info}" />
			<div align="center">
            <p:panelGrid id="grid" columns="2" style="width: 100%;">
               
                 <!-- Header -->
                <f:facet name="header" >
                    <h:outputText value="#{var.gibdaten}" />
                </f:facet>
                 
                <!-- OutputFelder-->
  
               
                <p:outputLabel for="VName" value="#{var.firstname}" />
                <p:outputLabel id="VName" value="#{personenBean.p.vname}"/>
              
              
                <p:outputLabel for="NName" value="#{var.sirname}"/>
                <p:outputLabel id="NName" value="#{personenBean.p.nname}" />
              
              
                
               <p:outputLabel for="Ort" value="#{var.loc}"/>
               <p:outputLabel id="Ort" value="#{personenBean.p.ort.value}"/>
              
               
               <h:outputLabel for="Geb" value="#{var.date}"/>
               <p:outputLabel id="Geb" value="#{personenBean.p.DateAsString(personenBean.p.gebDate)}" />
               
               
                
                
                <h:outputLabel for="Gesch" value="#{var.sex}"/>
                <p:outputLabel id="Gesch" value="#{personenBean.booleanToGeschlecht()}" /> 
                 

                <p:outputLabel for="Schule" value="#{var.school}" />
                <p:outputLabel id="Schule" value="#{personenBean.p.schule_klasse.schule.value}" /> 

                <p:outputLabel for="Klasse" value="#{var.cl}"/>
                <p:outputLabel id="Klasse" value="#{personenBean.p.schule_klasse.klasse}" /> 
                
            </p:panelGrid>
            </div>
            </h:form>
            </f:view>
       </ui:composition>
    </h:body>
</html>

