.ui-selectonemenu {
        border: 1px solid rgb(20, 132, 230) !important;
        }
.ui-selectonemenu.ui-state-hover{
        
        color: #FB8108;

		
        }
table tr td{
	
	border: hidden !important;
	
}
table tr{
	
	border: hidden !important;
	
}

.ui-inputfield{
	
	color: rgb(0,0,0) important;
	
}

input{
	
	color: rgb(0,0,0) !important;
	
}
.button{
	
	width: 100% !important;
	text-align: center !important;
	
}

.button.ui-state-hover{
	
	font-size: 22px !important;
}
.pg {
	
	width: 30% !important;
	height: 80% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 15% !important;
}

.langMenu {
	position: absolute;
	right: 5%;
	top: 5%;
}
.ui-selectonemenu-label{
	color: black !important;
}


.bgclass {
	background-color: #848484;
}

